
*{
	box-sizing: border-box;
}

h1{
/*	text-align: center;*/
	text-decoration: none;
	font-size: 0.75vw;
/*  font-family: 'raleway', 'sans-serif';*/
  font-family: 'playfair_display', 'serif';
  font-weight: normal;

	margin: 0;
	border: 0;
}

header{
	background-color: #212343;
	color: white;
	padding: 2vw;

	width: 100%;
/*	align-items: center;*/
	z-index: 0;
}

body{
	margin: 0;
	padding: 0;
/*	overflow: hidden;*/
	z-index: 1; 
	background-color: #F0F0F0;
}

h2{
	color: #DE4040;
	font-size: 0.75vw;
}

h3{
}

ul{
	color: #DE4040;
  font-size: 0.55vw;
  font-family: 'satoshi_complete', 'sans-serif';
  font-weight: bold;
  padding: 0 1rem;
}

a{
  text-decoration: none;
}

@font-face {
    font-family: 'raleway';
    src: url(../fonts/Raleway/Raleway-VariableFont_wght.ttf);

    font-family: 'playfair_display';
    src: url(../fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf);

    font-family: 'satoshi_complete';
    src: url(../fonts/Satoshi_complete/Satoshi-Variable.ttf);    
}

/*------------------------------------Ticket section site---------------------------------------*/

#seatingImage, #baseImage {
  position: absolute;
  width: 105%;
  height: 105%;
  object-fit: cover;
  left: -2.5%; 
  top: -2.5%; 
  z-index: -1;
  opacity: 0;
  transition: opacity 1s ease;
}

#baseImage {
  opacity: 1;
}


.main_container {
	position: relative;
	width: 100%;
	height: 100%;
}

.redirecting_exit {
	position: absolute;
	top: 0;
	left: 0;
	margin: 2vh 1vw;
}


#redirecting{
	padding: 1vh 1vw;
}

.seat_sections {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  transition: transform 0.1s ease;
}

.seat_sections a {
  position: relative; 
  display: block;
  text-decoration: none;
  margin-bottom: 4.5vw;
  font-weight: bold;
  font-size: 1.5vw;
  color: grey;
  transition: color 0.5s ease-in-out, transform 0.5s ease-in-out;
  padding: 1vw; /* Add padding to expand clickable/hoverable area */
  box-sizing: border-box; /* To include padding in element's total width and height */
}

.seat_sections a:hover {
  color: white;
  transform: scale(1.2) translateY(-0.5vh); /* enlarge and move up */
}

.seat_sections a:before {
  content: "";
  position: absolute;
  top: -4vh; 
  bottom: -4vh; 
  left: -8vw; 
  right: -8vw; 
  z-index: -1;
}


.seat_sections a .section-price {
  position: absolute; 
  font-size: 0.75vw;
  color: #c8c8c8;
  bottom: -1.5vh; /* Start the price below the anchor */
  left: 0;
  right: 0;
  transform: translateY(-100%);
  transition: transform 0.5s ease-in-out 0.2s, opacity 0.7s ease-in-out 0.2s; /* Added 0.2s delay */
  opacity: 0;
  text-align: center;
}


.seat_sections a:hover .section-price {
    transform: translateY(0); /* NEW: Move it to its original position when the anchor is hovered */
    opacity: 1;
}

.seat_sections a .text-container {
  position: relative;
  display: inline-block;
  text-align: center;
}

.seat_sections a .underline {
  display: block;
  height: 0.15vw;
  background-color: white;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 70%; /* adjust this to set the length of the line */
  bottom: -0.5vw; /* place the underline 0.5rem lower */
}


.seat_sections a:hover .underline {
  transform: scaleX(1);
}


#addon-info{
  color: white;
  font-family: 'playfair_display', 'serif';
}

.return_home{
  font-family: 'satoshi_complete', 'sans-serif';
  color: #DE4040;
  font-size: 0.75vw;
  font-weight: 900;
  margin-left: 0.5vw;
}

/*-----------------------------------Ticket seat map site------------------------------------------*/


.seat_map_img {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#seatingMapImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: opacity 0.4s ease-in-out;
  opacity: 0;
}

#seatMapIcon {
  position: absolute;
  top: 3%; 
  right: -4%; 
  width: 10vw; 
  height: 10vh; 
  z-index: 3;
}


.left_col_map {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  margin-left: 2vw; 
  margin-top: 2vh;
}

.seat_map {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
}

.seat_map a {
  font-family: 'playfair_display', 'serif';
  font-size: 1vw;
  font-weight: bold;
  background-color: #A17C3F;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 12.5vw;
  height: 10vh;
  margin: 0.75vh 0;
  transition: background-color 0.1s, color 0.1s;
}

.seat_map a:hover {
  background-color: #CFA765;
  color: white;
}

.seat_map a:active {
  background-color: #594030;
}

.seat_map .price {
  display: block;
  border-top: 1px solid white;
  padding-top: 0.5vh;
  margin-top: 0.5vw;
}


#redirecting_map{
	background-color: white;
	padding: 0.5vh 0.75vw;
}

#map-addon-info{
	color: black;
}

.cart_wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: white;
  z-index: -1; /* Place this below the .cart_wrapper content */
}

.cart{
  font-family: 'satoshi_complete', 'sans-serif';
  font-weight: bold;
  padding: 1vh 2vw;
  position: relative; 
  z-index: 1; /* Increase the z-index to bring this above the pseudo-element */
}

#cart_summary{
	font-size: 1vw;
	text-align: center;
	margin-bottom: 2.5vh;
}

.cart_container{
	border-top: 0.01vh solid #eaeaea; 
	text-align: center;
}

#your_tickets{
	font-weight: 900;
	font-size: 0.75vw;
}

.cart_container{
	border-bottom: 0.01vh solid #eaeaea; 
  font-size: 0.55vw;
  line-height: 3; 
}

#cart_total_price{
	font-weight: bolder;
	font-size: 1vw;
  margin: 1vh 0 1vh 0;
}

#cart_total{
  font-size: 0.75vw;
  margin-left: 0.75vw;
  padding-top: 0.25vw;
}

#cart_assistant{
  font-family: 'satoshi_complete', 'sans-serif';
	font-weight: 700;
	font-size: 0.5vw;
  color: #888888;

  border-top: 0.01vh solid #eaeaea;  
}

#phoneIcon {
  height: 1.5vh; 
  margin: 0.35vw;
}

#map-addon-info{
  font-family: 'playfair_display', 'serif';
  font-weight: bolder;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

#nextButton {
  animation: fadeIn 1s ease-in-out;
  border: none;
  border-radius: 5px;
  background-color: #B38C4A;
  text-align: center;
  font-weight: 900;
  display: none; /* Initially hidden */
  width: 100%;
  margin: 1vh 0;
  padding: 1vh 0 1vh 0;
  transition: background-color 0.1s, color 0.1s; /* smooth color transition */
}

#nextButton:hover{
  background-color: #CFA765; 
}

#nextButton:active{
  background-color: #594030; 
}

.return_seating_home{
  font-family: 'satoshi_complete', 'sans-serif';
  color: #DE4040;
  font-size: 0.75vw;
  font-weight: 900;
  margin-left: 0.5vw;
}

/*--------------------pop up window----------------------*/

#popup {
  position: absolute;
  z-index: 100;
  padding: 10px;
  background-color: #fff;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
  filter: drop-shadow(0 0 0.5rem #000);

}

.popup_button {
  width: 100%; 
  margin-bottom: 0.75vh; 
  padding: 0.75vw;
  text-align: left;
  outline: none;
  border: none;
  font-size: 1vw;

  background-color: #A17C3F; 
  color: white; /
  border-radius: 5px; /* for rounded corners */
  transition: background-color 0.1s, color 0.1s; 
}

.popup_button:hover {
  background-color: #CFA765;
}

.popup_button:active {
  background-color: #594030;
}

#choose_ticket_type{
  font-family: 'playfair_display', 'serif';
  font-weight: bolder;
  font-size: 1.5vw;
  margin-bottom: 1vh;
}

/*---top section---*/

#popup_section_container{
  background-color: #f9f9f9;
  margin: -10px;
  padding: 15px;

  border-bottom: 0.1vh solid #eaeaea; /* Add a border at the bottom */
  padding-bottom: 10px; /* Give some space below the content before the border */  
}

.popup_seat_type{
  font-family: 'satoshi_complete', 'sans-serif';
  font-weight: 400;
  font-size: 0.85vw;
  color: #757575;
  margin-top: 1vh;
  border-bottom: 0.01vh solid #eaeaea;   
}

.popup_seat_selection{
  font-family: 'satoshi_complete', 'sans-serif';
  font-weight: 500;
  font-size: 1vw;

  border-bottom: 0.01vh solid #eaeaea;   
}

.popup_price {
  margin-left: 10vw; 
}

#crossIcon {
  position: absolute;
  top: 1vh; 
  right: 0.75vw; 

  height: 2vh;
}

/*--------------------------------payment page----------------------------*/

.container {
  margin:auto;
  padding: 1rem;
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  overflow: auto;
}

.column_1{
  order:1;
  flex: 1 1 300px;  
}

.column_2 {
  order:2;
  flex: 1 1 300px;  
}

.ticket_information_container{
/*  width: 90vw;*/
  max-width: 600px;
  max-height: 1000px;
  height: 877px; 
  overflow: hidden; /* This will create a scrollbar if the content overflows */
  margin: 2rem auto auto 1rem; 
  display: flex;
  flex-direction: column;
  gap: 2rem;  
  padding: 2rem 2rem 7rem 2rem;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.25);
  border-radius: 5px;
  margin-bottom: 2rem;  
}

.payment_container {
/*  width: 90vw;*/
  max-width: 600px;
  max-height: 1000px;
  margin: 2rem 1rem auto auto;
  display: flex;
  flex-direction: column;
  gap: 0.55rem;
}


.card_information_container,
.personal_information_container{
  font-family: 'satoshi_complete', 'sans-serif';  
  padding: 1rem 2rem 1rem 2rem;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.25);
  border-radius: 5px;
  margin-bottom: 2rem;
}


.input_group label {
  display: block;
}

.input_row {
  display: flex;
  justify-content: space-between;
  gap: 2vw;

}

.input_row > div {
  flex-grow: 1;
}

#payment_form label,
#personal_info_form label {
  display: block;
  margin-bottom: 0.25rem;
}

#payment_form input,
#personal_info_form input {
  width: 100%;
  padding: 0.75rem 0.5rem;
  margin: 0.25rem 0 1.5rem 0;

  border: 1px solid #ccc;
  border-radius: 3px;
}

.submit_payment_btn {
  align-self: center;
  width: 100%;
  cursor: pointer;
  padding: 2rem 4rem;
  border: none;
  border-radius: 5px;
  background-color: #B38C4A;
  color: white;
  font-weight: bold;
  transition: background-color 0.2s ease;
}

.submit_payment_btn:hover {
  background-color: #A17C3F;
}

.location_input_row {
  display: flex;
  justify-content: space-between;
}

.location_input_row .input_group:nth-child(3),
.location_input_row .input_group:nth-child(2) {
  flex: 0 0 35%;    
}

.location_input_row .input_group:nth-child(1) {
  flex: 0 0 20%;
}

.payment_icon {
  display: block;
  margin-bottom: 1.5rem; /* adjust as needed */
  margin-right: 15rem;
  width: 60%;
}

#concertPic{
  display: block;
  margin:2rem 0; /* adjust as needed */
  width: 100%;  
}

.payment_title{
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0 0 1rem 0;
  margin: 0.5rem 0;
}

.payment_cart{
  font-family: 'satoshi_complete', 'sans-serif';
  font-weight: bold;
  padding: 1rem 1.5rem;
  position: relative; 
  z-index: 1; 
}

#payment_cart_summary{
  font-size: 1rem;
  margin-bottom: 2rem;
  line-height: 1.5rem;  
}


.payment_cart_container{
  border-top: 0.01vh solid #eaeaea; 
  text-align: center;
}

#payment_your_tickets{
  font-size: 1rem;
  font-weight: 500;
}

.payment_cart_container span {
  font-weight: 700;
}

.payment_cart_container{
  border-bottom: 0.01vh solid #eaeaea; 
  font-size: 0.75rem;
  line-height: 3; 
  font-weight: 400;
}

#payment_cart_total_price{
  font-weight: bolder;
  font-size: 1.5rem;

  margin: 1rem 0 1rem 0;
}

#payment_cart_total{
  font-size: 0.75rem;
  margin-left: 0.75vw;
  padding-top: 0.25vw;
}

#payment_cart_assistant{
  margin-top: 1rem;
  font-family: 'satoshi_complete', 'sans-serif';
  font-weight: 700;
  font-size: 0.5rem;
  color: #888888;

  border-top: 0.02rem solid #eaeaea;  
}

#payment_phoneIcon {
  height: 0.75rem; 
  margin: 0.35rem;
}
/*--------------------------------timer-----------------------------------*/
/*Credit: Mateusz Rybczonec - https://codepen.io/dalalRohit/pen/RwRzVvW*/

.base-timer {
  position: relative;
  width: 50px;
  height: 50px;
}

.base-timer__svg {
  transform: scaleX(-1);
}

.base-timer__circle {
  fill: none;
  stroke: none;
}

.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: rgb(214, 214, 214);
}

.base-timer__path-remaining {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}

.base-timer__path-remaining.green {
  color: rgb(65, 184, 131);
}

.base-timer__path-remaining.orange {
  color: orange;
}

.base-timer__path-remaining.red {
  color: red;
}

.base-timer__label {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 16px;
}


