nav {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:large;
    padding: 10px;
}
body
{
}

.searchfeatures {
    width:100%;
    display: inline-block;
    border: 2px solid grey;
}

.search {
    width:95%;
    padding: 5px;
}

.options {
    width: 30px;
    height: 30px;
    display:inline-block;
}

#logo {
    width: 50px;
    height: 50px;
    padding: 10px;
}

.Filters_interface {
    float: left;
}

.Map_interface {
    float: right;
    width: 100%;
}
.main_view {
    display:block;
}

#Filters_Pane {
    font-family:Calibri;
    width: 300px;
    height: 300px;
    display: none;
    background-color: white;
    position: relative;
    top: -480px;
    right: 0px;
    padding: 10px;
    float: left;
    z-index: 500;
    border: 2px solid grey;
}

.f_header {
    text-align:center;
    font-size:26px;
    font-weight:500;
}

.pi_section {
    width:98%;
    text-align:left;
    display: inline-block;
}

.Settings_Pane {
    width: 300px;
    height: 300px;
    display: none;
    background-color: white;
    position: relative;
    top: -470px;
    right: -150px;
    padding: 10px;
    float: right;
    z-index: 500;
    border: 2px solid grey;
}
#homebtn {
    width:60px;
    height: 60px;

    position: relative;
    top: -100px;
    right: 10px;
    padding: 10px;
    float:right;
    z-index: 400;
}


#settingsbtn {
    width: 60px;
    height: 60px;
    position: relative;
    top: -470px;
    right: -70px;
    padding: 10px;
    float: right;
    z-index: 400;
}
.map_container {

}
.map {
    height: 480px;
    z-index: 0;
}